#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.input-box{
  margin: 10px;
  width: 80%;
  height: 5vh;
  font-size: 20px;
}

ul{
  list-style: none;
}
.input-user{
 /* min-height: 65vh; */
 /* background-color: aliceblue; */
 display: flex;
 align-items: center;

}
.input-user button{
  height: 5.5vh;
  width: 8vw;
  background-color: tomato;
  color: #fff;
  text-decoration: none;
}


.list-box{
 min-height: 65vh;
 background-color: aliceblue;
}
.list-item{
  margin: 1px auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  background-color: tomato;
}

.list-item.completed{
  background-color: skyblue;
  color: #fff;
}
